@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif; 
    user-select:none;
  }

  html,body,#root{
    height: auto;
    min-height:100vh;
  }

  .centered-shadow{
    box-shadow: 0 0px 40px 20px #ffffff73;
  }
 
 .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
 .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #363636;
}
 .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 4px;
}
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
}
   


  .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

  .card-base {
    @apply rounded-lg border-[1px] border-accentS3 shadow-lg;
  }

  .carousel-container::-webkit-scrollbar {
    display: none;
  }
  .carousel-container {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
  }

  .passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*---------------CURSIVE-----------------*/
.lobster{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.seaweed{
  font-family: "Seaweed Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.satisfy{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.cookie{
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}
.share_tech{
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*--------------------------------------*/

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Default (light mode) */
:root {
  --accentS: #ebebeb;
  --accentS2: #d6d6d6;
  --accentS3: #a8a8a8;
  --accentM: #ffffff;
  --accentTxt: #000000;
}

/* Dark mode */
.dark {
  --accentS: #262626;
  --accentS2: #3b3b3b;
  --accentS3: #969696;
  --accentM: #000000;
  --accentTxt: #ffffff;
}


  input,textarea {
    @apply focus:outline-none
  }